@using VehiclesApp.MVC.Models
@model VehicleModelVM
@{
    ViewData["Title"] = "Vehicle Models";
}

<h1 style="text-align: center;">@ViewData["Title"]</h1>
<div class="col text-center">
    <a class="btn btn-primary create" href="/VehicleModel/Create" role="button"> Create new vehicle model </a>
</div>
<br />
<div class="dropdown">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
    Sort by:
  </a>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <li><a id="sort_model_name_asc" class="dropdown-item" href="">Name: Ascending</a></li>
    <li><a id="sort_model_name_desc" class="dropdown-item" href="">Name: Descending</a></li>
    <li><a id="sort_model_abrv_asc" class="dropdown-item" href="">Abreviation: Ascending</a></li>
    <li><a id="sort_model_abrv_desc" class="dropdown-item" href="">Abreviation: Descending</a></li>
  </ul>
</div>
<form asp-controller="Vehiclemodel" asp-action="Index">
    <p>
        Search: <input type="text" name="search" />
        <input type="submit" value="Search" />
    </p>
</form>
<div class="table-responsive-sm" id="vehiclemodelsTable" style="width: 100%; overflow: auto; max-height: 800px;">
    <table class="table">
        <thead>
            <tr>
                <th style="text-align: center;">Name</th>
                <th style="text-align: center;">Abreviation</th>
                <th style="text-align: center;">Make</th>
                <th style="text-align: center;">Action</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var vmodel in Model.vehicleModels) {
             <tr>
                 <td style="text-align: center;"> @vmodel.Name </td>
                 <td style="text-align: center;"> @vmodel.Abrv </td>
                 <td style="text-align: center;"> @vmodel.vehicleMake.Name </td>
                 <td style="text-align: center;"> <a class="btn btn-primary edit" id="editVehiclemodel_@vmodel.Id" href="/Vehiclemodel/Edit/@vmodel.Id" role="button"> Edit </a> | <a class="btn btn-primary del" id="deleteVehiclemodel_@vmodel.Id" href="" role="button"> Delete </a> </td>
             </tr>
            }
        </tbody>
    </table>
</div>

